.home_cont h1{
    color: #000;
}
.welcome_cont{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 7rem;
   margin-top: 2rem;
}
.welcome_cont button{
    height: 3rem;
    width: 12rem;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: 600;
}

